{% extends "questions/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <h2>FICHA DE FAMILIAS CON PRÁCTICAS SALUDABLES PARA LA PREVENCIÓN DE CHIKUNGUNY/DENGUE</h2>
    <hr>
    <div class="col-md-10">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
             <h2>CRITERIOS</h2>
            <table class="table" >
                {{ statementmembers.management_form }}

                {% for form in statementmembers.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            <th>{{ 'n°'|capfirst }}</th>
                            <th>{{ 'CRITERIOS'|capfirst }}</th>
                            <th>{{ 'HÁBITOS SALUDABLES'|capfirst }}</th>
                            <th>{{ ''|capfirst }}</th>
                        </tr>
                        </thead>
                    {% endif %}
                   {% if forloop.counter == 1 %}

                        <tr>
                            <td colspan="4" style="text-align: center"><b>INFRAESTRUCTURA DE LA VIVIENDA</b></td>
                        </tr>

                    {% endif %}
                  {% if forloop.counter == 4 %}

                        <tr>
                            <td colspan="4" style="text-align: center"><b>PRÁCTICAS Y ENTORNOS SALUDABLES</b></td>
                        </tr>

                    {% endif %}

                  {% if forloop.counter == 12 %}

                        <tr>
                            <td colspan="4" style="text-align: center"><b>MEDIDAS PREVENTIVAS</b></td>
                        </tr>

                    {% endif %}


                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Grabar" class="btn btn-default"/> <a href="{% url 'file-list' %}"  class="btn
            btn-danger">Volver a la
            lista</a>
        </form>
    </div>

    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'add family member',
            deleteText: 'remove',
            prefix: 'familymember_set'
        });
    </script>
{% endblock %}